.App {
  text-align: center;
}
.App .App-box {
  cursor: default;
}
.App .App-box button {
  padding: 5px 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.switch-box {
  margin-top: 100px;
}
.tab-list li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.center {
  text-align: center;
}
.active {
  color: red;
}
.Tab_item {
  display: none;
}
.show {
  display: block;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 2.5em;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
